PORT=5000
NODE_ENV=development

MONGO_URI=mongodb+srv://whitewolfsociallogin:whitewolf123@cluster0.o1rphtp.mongodb.net/royaltaste_db?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=RoyalTaste@Pune2024#SuperSecret_JWT_Key_DoNotShare

JWT_EXPIRES_IN=8h

FRONTEND_URL=http://localhost:3000